/* products.css */

/* Style du conteneur de produits */
.products {
    padding: 1rem;
    margin:2rem auto;
    width: 50rem;
    /*  */
    background-color: #0a0a0a; /* Couleur de fond du conteneur, personnalisable */
  }
  
